name: Ostad CI CD pipeline

on:
    push:
        branches: 
            - main
    pull_request:
        branches:
            - main

jobs: 
    setup-nginx:
        runs-on: self-hosted
        steps: 
            - name: Install The nginx
              run: sudo apt install nginx -y

            - name: Chekcout the repo
              uses: actions/checkout@v4
              