name: CI CD pipeline => Ostad

on:
    push:
        branches: 
            - main

jobs: 
    setup:
        runs-on: ostad-label
        steps: 
            - name: Chekcout the repo
              uses: actions/checkout@v4

            - name: Install The nginx
              run: sudo apt install nginx -y
            
            - name: Install NVM
              run: |
                export NVM_DIR="$HOME/.nvm"
                if [ ! -d "$NVM_DIR" ]; then
                    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
                fi             
            - name: Install latest Node.js & npm using NVM
              run: |
                export NVM_DIR="$HOME/.nvm"
                [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" || true
                nvm install node
                nvm use node
                node -e "console.log('Running Node.js ' + process.version)"
                npm -v
                
            - name: copy test.txt file
              run: cat test.txt
    # deploy:
    #     runs-on: self-hosted
    #     needs: setup-nginx
    #     steps: 
    #         - name: Setup deploy
    #           run: sudo apt update
