name: Ostad CI CD pipeline

on:
    push:
        branches: 
            - main
    pull_request:
        branches:
            - main

jobs: 
    read_the_file:
        runs-on: ubuntu-latest
        steps: 
            - name: Get clone
              uses: actions/checkout@v2
            - name: Read the txt file
              run: cat test.txt
            - name: Executable the shell script
              run: chmod +x ostad.sh
            - name: Execute the bash file
              run: ./ostad.sh