name: Ostad CI CD pipeline

on:
    push:
        branches: 
            - main

jobs: 
    setup-nginx:
        runs-on: ostad-runner
        steps: 
            - name: Print Hello
              run: echo "Hello Ostad"
              
            - name: Install The nginx
              run: sudo apt install nginx -y

            - name: Chekcout the repo
              uses: actions/checkout@v4
    # deploy:
    #     runs-on: self-hosted
    #     needs: setup-nginx
    #     steps: 
    #         - name: Setup deploy
    #           run: sudo apt update
