name: CICD Pipeline

on:
  push:
    branches:
      - main


jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # - name: Set up Node.js
      #   uses: actions/setup-node@v2
      #   with:
      #     node-version: '22'

      # - name: Install Dependencies
      #   run: npm install

      # - name: Run Tests
      #   run: npm run check

  
  Deploy:
    runs-on: ostad-label
    needs: Testing
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
 
      # - name: Set up Node.js
      #   uses: actions/setup-node@v2
      #   with:
      #     node-version: '22'
 
      # - name: Install Dependencies
      #   run: npm install

      - name: Install pm2 
        run: sudo npm install -g pm2
 
      # - name: Deploy to Server
      #   run: |
      #     pm2 delete Server || true
      #     pm2 start npm --name "Server" -- run start
      #     pm2 save

      # - run: sleep 10

      # - name: Pm2 Status check
      #   run: pm2 status
        
      # - name: Check Server
      #   run: curl http://localhost:80

#--------------------------------------------------------------

# name: CI CD pipeline => Ostad    

# on:
#   push:
#     branches:
#       - main

# jobs:
#     Test:
#         runs-on: ubuntu-latest
#         steps: 
#             - name: Checkout_code
#               uses: actions/checkout@v4
            
#             - name: Set up Node.js
#               uses: actions/setup-node@v2
#               with: 
#                 node-version: '22'
            
#             - name: Install dependencies
#               run: npm install
            
#             - name: Run tests
#               run: npm run check
#     Deploy:
#         runs-on: ostad-label
#         needs: Test
#         steps:
#             - name: Checkout_code
#               uses: actions/checkout@v2
            
#             - name: Set up Node.js
#               uses: actions/setup-node@v6
#               with: 
#                 node-version: 'latest'
            
#             - name: Install dependencies
#               run: npm install
            
#             - name: install pm2
#               run: npm install pm2 -g

#             - name: Deploy to Ostad server
#               run: |
#                 pm2 delete 'Server' || true
#                 pm2 start "npm run dev" --name="Server"
            
#   setup:
#     runs-on: ostad-label

#     steps:
#       - name: Checkout the repo
#         uses: actions/checkout@v4

#       - name: Update system
#         run: sudo apt update -y

#         #Note: sudo apt install -y libatomic1

#       - name: Install nginx
#         run: sudo apt install nginx -y

#       - name: Install NVM
#         run: |
#           export NVM_DIR="$HOME/.nvm"
#           if [ ! -d "$NVM_DIR" ]; then
#             curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
#           fi

#       - name: Install latest Node.js & npm using NVM
#         run: |
#           export NVM_DIR="$HOME/.nvm"
#           . "$NVM_DIR/nvm.sh"

#           nvm install node
#           nvm use node
#           nvm alias default node

#           node -e "console.log('Running Node.js ' + process.version)"
#           npm -v

#       - name: Copy test.txt file
#         run: cat test.txt
